<section class="dorne-catagory-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="all-catagories">
                    <div class="row">
                        
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.2s">
                                <div class="catagory-content">
                                    <img src="~/dorne-master/img/core-img/icon-1.png" alt="">
                                    <a href="#">
                                        <h6>Konser</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.4s">
                                <div class="catagory-content">
                                    <img src="~/dorne-master/img/core-img/icon-2.png" alt="">
                                    <a href="#">
                                        <h6>Tiyatro</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.6s">
                                <div class="catagory-content">
                                    <img src="~/dorne-master/img/core-img/icon-3.png" alt="">
                                    <a href="#">
                                        <h6>Stand-Up</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.8s">
                                <div class="catagory-content">
                                    <img src="~/dorne-master/img/core-img/icon-4.png" alt="">
                                    <a href="#">
                                        <h6>Çocuk Aktiviteleri</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-12 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="1s">
                                <div class="catagory-content">
                                    <img src="~/dorne-master/img/core-img/icon-5.png" alt="">
                                    <a href="#">
                                        <h6>Festival</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    .catagory-content img {
        width: 60px; 
        height: 60px;
        object-fit: contain; 
    }

</style>