<head>
    <link rel="preload" href="~/css/site.css" as="style" />
    <link rel="preload" href="~/js/site.js" as="script" />
    
    <link rel="stylesheet" href="~/css/site.css" media="print" onload="this.media='all'" />
    <link rel="stylesheet" href="~/css/payment-modal.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <script src="~/js/site.js" defer></script>
    <script src="~/js/payment.min.js" defer></script>
</body> 