 <!-- ***** Search Form Area ***** -->
<div class="dorne-search-form d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-close-btn" id="closeBtn">
                    <i class="pe-7s-close-circle" aria-hidden="true"></i>
                </div>
                <form action="#" method="get">
                    <input type="search" name="caviarSearch" id="search" placeholder="Search Your Desire Destinations or Events">
                    <input type="submit" class="d-none" value="submit">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header_area" id="header">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <nav class="h-100 navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html"><img src="~/dorne-master/img/core-img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                    <!-- Nav -->
                    <div class="collapse navbar-collapse" id="dorneNav">
                        <ul class="navbar-nav mr-auto" id="dorneMenu">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ana Sayfa <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="index.html">Konser</a>
                                    <a class="dropdown-item" href="explore.html">Tiyatro</a>
                                    <a class="dropdown-item" href="listing.html">Stand-Up</a>
                                    <a class="dropdown-item" href="single-listing.html">Çocuk</a>
                                    <a class="dropdown-item" href="contact.html">Festival</a>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Konser <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Tiyatro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Stand-Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Çocuk Aktiviteleri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Festival</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">İletişim</a>
                            </li>
                        </ul>
                        <!-- Search btn -->
                        <div class="dorne-search-btn">
                            <a id="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i>Ara </a>
                        </div>
                        <!-- Signin btn -->
                        <!--  <div class="dorne-signin-btn">
                            <a href="#">Sign in  or Register</a>
                        </div> -->
                        <!-- Add listings btn -->
                        <div class="dorne-add-listings-btn">
                            <a href="#" class="user-icon">
                                <img src="~/dorne-master/img/core-img/signup.png" alt="User Icon" style="width: 24px; height: 24px;">
                            </a>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<style>
    .user-icon {
        display: inline-flex; /* Flexbox ile içeriği ortalamak için */
        justify-content: center; /* İçerikleri yatayda ortala */
        align-items: center; /* İçerikleri dikeyde ortala */
        width: 70px; /* Yuvarlak butonun yeni genişliği */
        height: 70px; /* Yuvarlak butonun yeni yüksekliği */
        background: transparent; /* Arka planı transparan yap */
        border: none; /* Kenarlıkları kaldır */
        outline: none; /* Outline'ı kaldır */
        transition: transform 0.3s; /* Hover efektinde ölçek geçişi için */
        cursor: pointer; /* Fare ile üzerine gelindiğinde el simgesi */
        padding: 0; /* İçerik etrafındaki boşluğu kaldır */
        margin: 0; /* Dışarıdaki boşluğu kaldır */
    }

    .user-icon:hover {
        transform: scale(1.2); /* Üzerine gelince büyüme efekti (ikonu %20 büyüt) */
    }

    .user-icon img {
        width: 80%; /* İkonun genişliği, butonun genişliğine göre ayarlanacak */
        height: 80%; /* İkonun yüksekliği, butonun yüksekliğine göre ayarlanacak */
        border-radius: 50%; /* İkonu yuvarlak yapmak için */
    }

    .user-icon:focus {
        outline: none; /* Outline'ı kaldır */
        box-shadow: none; /* Varsayılan gölgeyi kaldır */
    }

    .user-icon:active {
        outline: none; /* Aktif durumdaki outline'ı kaldır */
    }

</style>





