@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_UILayoutHeadComponent")

<body>

    <div id="preloader">
        <div class="dorne-load"></div>
    </div>

    @await Component.InvokeAsync("_UILayoutNavbarComponent")

  @RenderBody()


    @await Component.InvokeAsync("_UILayoutFooterComponent")

    @await Component.InvokeAsync("_UILayoutScriptComponent")






</body>

</html>
