<section class="dorne-editors-pick-area bg-img bg-overlay-9 section-padding-100" style="background-image: url(img/bg-img/hero-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>Yaklaşan Etkinlikler</h4>
                    <p>Editor’ün Seçimi</p>
                </div>
            </div>
        </div>

        <div id="upcomingEventsCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-4">
                            <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.4s" style="margin-right: 5px;">
                                <!-- Sağ kaydırma için margin ekledim -->
                                <img src="~/dorne-master/img/bg-img/editor-1.jpg" alt="">
                                <div class="editors-pick-info">
                                    <div class="places-total-destinations d-flex">
                                        <a href="#">Tiyatro</a>
                                        <a href="#">12 Ocak</a>
                                    </div>
                                    <div class="add-more">
                                        <a href="#">+</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.6s" style="margin-left: 5px;">
                                <!-- Sağ kaydırma için margin ekledim -->
                                <img src="~/dorne-master/img/bg-img/editor-2.jpg" alt="">
                                <div class="editors-pick-info">
                                    <div class="places-total-destinations d-flex">
                                        <a href="#">Festival</a>
                                        <a href="#">13 Ocak</a>
                                    </div>
                                    <div class="add-more">
                                        <a href="#">+</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.4s">
                                <img src="~/dorne-master/img/bg-img/editor-1.jpg" alt="">
                                <div class="editors-pick-info">
                                    <div class="places-total-destinations d-flex">
                                        <a href="#">Tiyatro</a>
                                        <a href="#">12 Ocak</a>
                                    </div>
                                    <div class="add-more">
                                        <a href="#">+</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.6s">
                                <img src="~/dorne-master/img/bg-img/editor-2.jpg" alt="">
                                <div class="editors-pick-info">
                                    <div class="places-total-destinations d-flex">
                                        <a href="#">Festival</a>
                                        <a href="#">13 Ocak</a>
                                    </div>
                                    <div class="add-more">
                                        <a href="#">+</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-4">
                            <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.4s" style="margin-right: 5px;">
                                <!-- Sağ kaydırma için margin ekledim -->
                                <img src="~/dorne-master/img/bg-img/editor-1.jpg" alt="">
                                <div class="editors-pick-info">
                                    <div class="places-total-destinations d-flex">
                                        <a href="#">Tiyatro</a>
                                        <a href="#">12 Ocak</a>
                                    </div>
                                    <div class="add-more">
                                        <a href="#">+</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.6s" style="margin-left: 5px;">
                                <!-- Sağ kaydırma için margin ekledim -->
                                <img src="~/dorne-master/img/bg-img/editor-2.jpg" alt="">
                                <div class="editors-pick-info">
                                    <div class="places-total-destinations d-flex">
                                        <a href="#">Festival</a>
                                        <a href="#">13 Ocak</a>
                                    </div>
                                    <div class="add-more">
                                        <a href="#">+</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.4s">
                                <img src="~/dorne-master/img/bg-img/editor-1.jpg" alt="">
                                <div class="editors-pick-info">
                                    <div class="places-total-destinations d-flex">
                                        <a href="#">Tiyatro</a>
                                        <a href="#">12 Ocak</a>
                                    </div>
                                    <div class="add-more">
                                        <a href="#">+</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.6s">
                                <img src="~/dorne-master/img/bg-img/editor-2.jpg" alt="">
                                <div class="editors-pick-info">
                                    <div class="places-total-destinations d-flex">
                                        <a href="#">Festival</a>
                                        <a href="#">13 Ocak</a>
                                    </div>
                                    <div class="add-more">
                                        <a href="#">+</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#upcomingEventsCarousel" role="button" data-slide="prev" style="margin-left: -50px; z-index: 10;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Önceki</span>
            </a>
            <a class="carousel-control-next" href="#upcomingEventsCarousel" role="button" data-slide="next" style="margin-right: -50px; z-index: 10;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Sonraki</span>
            </a>
        </div>
    </div>
</section>

<style>
    .single-editors-pick-area {
        width: 400px;
        height: 300px;
        padding: 10px;
        overflow: hidden;
    }

        .single-editors-pick-area img {
            width: 350px;
            height: 300px;
            object-fit: cover;
        }

    .places-total-destinations {
        font-size: 14px;
    }

    .event-details {
        display: flex;
        align-items: center;
        width: 300px;
        height: 40px;
        padding: 5px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

    }


    /* Okları resimlerin dışında konumlandır */
    .carousel-control-prev,
    .carousel-control-next {
        width: 50px; /* Ok genişliği */
        height: 50px; /* Ok yüksekliği */
        top: 50%; /* Yükseklik ortalama */
        transform: translateY(-50%); /* Dikey ortalama */
    }
</style>
