<!-- ***** Welcome Area Start ***** -->
<section class="dorne-welcome-area bg-img bg-overlay" style="background-image: url('/dorne-master/img/bg-img/hero-1.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-cente r">
            <div class="col-12 col-md-10">
                <div class="hero-content">
                    <h2>Yakınınızdaki etkinlikleri keşfedin</h2>
                    <h4>Şehrinizdeki en popüler etkinlikleri kaçırmayın</h4>
                </div>
                <!-- Hero Search Form -->
                <div class="hero-search-form">
                    <!-- Tabs -->
                    <div class="nav nav-tabs" id="heroTab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab" aria-controls="nav-events" aria-selected="true">Etkinlikler</a>
                        <a class="nav-item nav-link" id="nav-tickets-tab" data-toggle="tab" href="#nav-tickets" role="tab" aria-controls="nav-tickets" aria-selected="false">Biletler</a>
                    </div>
                    <!-- Tabs Content -->
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
                            <h6>Hangi etkinlikleri arıyorsunuz?</h6>
                            <form action="#" method="get">
                                <select class="custom-select">
                                    <option selected>Etkinlik Şehri</option>
                                    <option value="1">İstanbul</option>
                                    <option value="2">Ankara</option>
                                    <option value="3">İzmir</option>
                                    <option value="4">Antalya</option>
                                    <option value="5">Bursa</option>
                                </select>
                                <select class="custom-select">
                                    <option selected>Tüm Kategoriler</option>
                                    <option value="1">Konser</option>
                                    <option value="2">Tiyatro</option>
                                    <option value="3">Spor</option>
                                    <option value="4">Festival</option>
                                </select>
                                <button type="submit" class="btn dorne-btn"><i class="fa fa-search pr-2" aria-hidden="true"></i> Ara</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="nav-tickets" role="tabpanel" aria-labelledby="nav-tickets-tab">
                            <h6>Aradığınız bilet türü nedir?</h6>
                            <form action="#" method="get">
                                <select class="custom-select">
                                    <option selected>Bilet Şehri</option>
                                    <option value="1">İstanbul</option>
                                    <option value="2">Ankara</option>
                                    <option value="3">İzmir</option>
                                    <option value="4">Antalya</option>
                                    <option value="5">Bursa</option>
                                </select>
                                <select class="custom-select">
                                    <option selected>Tüm Kategoriler</option>
                                    <option value="1">VIP</option>
                                    <option value="2">Standart</option>
                                    <option value="3">Erken Giriş</option>
                                </select>
                                <button type="submit" class="btn dorne-btn"><i class="fa fa-search pr-2" aria-hidden="true"></i> Ara</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Social Btn -->
    <div class="hero-social-btn">
        <div class="social-title d-flex align-items-center">
            <h6 style="font-size: 14px;">Bizi Sosyal Medyada Takip Edin</h6>
            <span></span>
        </div>
        <div class="social-btns">
            <a href="#"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
        </div>
    </div>
</section>
<!-- ***** Welcome Area End ***** -->