<div class="dorne-clients-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="clients-logo d-md-flex align-items-center justify-content-around">
                    <img src="~/dorne-master/img/clients-img/1.png" alt="">
                    <img src="~/dorne-master/img/clients-img/2.png" alt="">
                    <img src="~/dorne-master/img/clients-img/3.png" alt="">
                    <img src="~/dorne-master/img/clients-img/4.png" alt="">
                    <img src="~/dorne-master/img/clients-img/5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="dorne-footer-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h5>Etkinlikler</h5>
                <div class="underline"></div>
                <ul>
                    <li><a href="#">Konserler</a></li>
                    <li><a href="#">Festivaller</a></li>
                    <li><a href="#">Tiyatro</a></li>
                    <li><a href="#">Sergiler</a></li>
                    <li><a href="#">Diğer Etkinlikler</a></li>
                </ul>
                <br />
            </div>
            <div class="col-md-4">
                <h5>Yardım</h5>
                <div class="underline"></div>
                <ul>
                    <li><a href="#">Yardım/SSS</a></li>
                    <li><a href="#">Satış Kanalları</a></li>
                    <li><a href="#">Hediye Kart</a></li>
                    <li><a href="#">Etkinlik Katılım Sigortası</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Hakkımızda</h5>
                <div class="underline"></div>
                <ul>
                    <li><a href="#">Biz Kimiz</a></li>
                    <li><a href="#">Kurum Politikamız</a></li>
                    <li><a href="#">Görsel Materyaller</a></li>
                    <li><a href="#">Bize Ulaşın</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
           
            <div class="col-md-4">
                <h5>POLİTİKALAR & BİLDİRİMLER</h5>
                <div class="underline"></div>
                <ul>
                    <li><a href="#">Sözleşme ve Politikalar</a></li>
                    <li><a href="#">Çerez Politikası</a></li>
                    <li><a href="#">Tercihleri Yönet</a></li>
                    <li><a href="#">TTK Bildirimleri</a></li>
                    <li><a href="#">Gizlilik Politikası</a></li>
                </ul>
               <br />
            </div>
            <br />
            <div class="col-md-4">
                <h5>Sosyal Medya</h5>
                <div class="underline"></div>
                <div class="footer-social-btns">
                    <a href="#"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
                </div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-md-flex align-items-center justify-content-between">
                <div class="footer-text">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i>  &amp; distributed by               </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<style>
    .dorne-footer-area {
        background: linear-gradient(135deg, #1a1a6f, #3f0d6b);
        color: #ffffff;
        padding: 50px 0;
    }

    h5 {
        margin-bottom: 5px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
    }

    .underline {
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        margin-bottom: 15px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

        ul li {
            margin-bottom: 10px;
        }

            ul li a {
                color: #ffffff;
                text-decoration: none;
                transition: color 0.3s;
            }

                ul li a:hover {
                    color: #cccccc;
                }

    .footer-social-btns a {
        color: #ffffff;
        margin-left: 15px;
        font-size: 18px;
        transition: color 0.3s;
    }

        .footer-social-btns a:hover {
            color: #cccccc;
        }

    .footer-text p {
        margin: 0;
        font-family: 'Arial', sans-serif;
        font-size: 14px;
    }
</style>
