<div class="dorne-clients-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="clients-logo d-md-flex align-items-center justify-content-around">
                    <img src="https://i.hizliresim.com/9p0zk4v.jpg" alt="" style=" width:180px;height:100px;">


                    <img src="https://i.hizliresim.com/bjnismv.jpg" alt="" style=" width:180px;height:100px;">
                    <img src="https://i.hizliresim.com/nxzoigr.jpg" alt="" style=" width:180px;height:100px;">
                    <img src="https://i.hizliresim.com/ikcpbaw.jpg" alt="" style=" width:180px;height:100px;">

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="dorne-footer-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h5 class="footer-title">Etkinlikler</h5>
                <div class="underline"></div>
                <ul>
                    <li><a href="/Concert/Index">Konserler</a></li>
                    <li><a href="/Theater/Index">Tiyatro</a></li>
                    <li><a href="/Stand_Up/Index">Stand-Up</a></li>
                    <li><a href="/KidsEvent/Index">Çocuk Aktiviteleri</a></li>
                    <li><a href="/Festival/Index">Festivaller</a></li>

                </ul>
                <br />
            </div>
            <div class="col-md-4">
                <h5 class="footer-title">Yardım</h5>
                <div class="underline"></div>
                <ul>
                    <li><a href="#">Yardım/SSS</a></li>
                    <li><a href="#">Satış Kanalları</a></li>
                    <li><a href="#">Hediye Kart</a></li>
                    <li><a href="#">Etkinlik Katılım Sigortası</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="footer-title">Hakkımızda</h5>
                <div class="underline"></div>
                <ul>
                    <li><a href="#">Biz Kimiz</a></li>
                    <li><a href="#">Kurum Politikamız</a></li>
                    <li><a href="#">Görsel Materyaller</a></li>
                    <li><a href="#">Bize Ulaşın</a></li>
                </ul>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <h5 class="footer-title">POLİTİKALAR & BİLDİRİMLER</h5>
                <div class="underline"></div>
                <ul>
                    <li><a href="#">Sözleşme ve Politikalar</a></li>
                    <li><a href="#">Çerez Politikası</a></li>
                    <li><a href="#">Tercihleri Yönet</a></li>
                    <li><a href="#">TTK Bildirimleri</a></li>
                    <li><a href="#">Gizlilik Politikası</a></li>
                </ul>
                <br />
            </div>
            <br />
            <div class="col-md-4">
                <h5 class="footer-title">Sosyal Medya</h5>
                <div class="underline"></div>
                <div class="footer-social-btns">
                    <a href="#"><i class="fa fa-instagram" aria-haspopup="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
                </div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-md-flex align-items-center justify-content-between">
                <div class="footer-text">
                    <p>
                       
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<style>
    .dorne-footer-area {
        background: linear-gradient(135deg, #8B0000, #4B0000, #000000);
        color: #ffffff;
        padding: 50px 0;
    }


    .footer-title {
        margin-bottom: 5px;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
    }

    .underline {
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        margin-bottom: 15px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

        ul li {
            margin-bottom: 10px;
        }

            ul li a {
                color: #ffffff;
                text-decoration: none;
                transition: color 0.3s;
            }

                ul li a:hover {
                    color: #cccccc;
                }

    .footer-social-btns a {
        color: #ffffff;
        margin-left: 15px;
        font-size: 18px;
        transition: color 0.3s;
    }

        .footer-social-btns a:hover {
            color: #cccccc;
        }

    .footer-text p {
        margin: 0;
        font-size: 14px;
    }
</style>