
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">


<div class="dorne-clients-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="clients-logo d-md-flex align-items-center justify-content-around">
                    <img src="https://i.hizliresim.com/9p0zk4v.jpg" alt="" style=" width:180px;height:100px;">
                    <img src="https://i.hizliresim.com/bjnismv.jpg" alt="" style=" width:180px;height:100px;">
                    <img src="https://i.hizliresim.com/nxzoigr.jpg" alt="" style=" width:180px;height:100px;">
                    <img src="https://i.hizliresim.com/ikcpbaw.jpg" alt="" style=" width:180px;height:100px;">

                </div>
            </div>
        </div>
    </div>
</div>


<footer class="container-fluid bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="logo-part">
                            <img src="https://i.hizliresim.com/ob015rm.png" class="w-50 logo-footer">
                            <p>Beşiktaş | İstanbul,Türkiye</p>
                            <p>Eventura etkinlikler için bilet satış platformunu keşfedin. Konserlerden tiyatrolara, festivallerden stand-up gösterilerine kadar birçok etkinlik için bilet satın alabilirsiniz.</p>
                        </div>
                    </div>
                    <div class="col-md-6 px-4">
                        <h6> EVENTURA Hakkında</h6>
                        <p>Etkinlikler için bilet satış sitesi olarak, her yaşa ve her zevke hitap eden etkinlikleri kolayca bulup, anında bilet almanızı sağlar. Bizimle, konserlerden tiyatro oyunlarına kadar tüm etkinliklere katılabilirsiniz.</p>
                        <a href="#" class="btn-footer"> Daha fazla </a><br>
                        <a href="#" class="btn-footer"> Bize ulaşın</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 px-4">
                        <h6> Etkinlikler</h6>
                        <div class="row ">
                            <div class="col-md-6">
                                <ul>
                                    <li> <a href="/Concert/Index"> Konserler</a> </li>
                                    <li> <a href="/Theater/Index"> Tiyatro</a> </li>
                                    <li> <a href="/Stand_Up/Index"> Stand-Up</a> </li>
                                    <li> <a href="/KidsEvent/Index"> Çocuk Aktiviteleri</a> </li>
                                    <li> <a href="/Festival/Index"> Festivaller</a> </li>
                                </ul>
                            </div>
                            <div class="col-md-6 px-4">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <h6> Sosyal Medya Hesaplarımız</h6>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                      
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<style>
    body {
        font-family: 'Signika', sans-serif;
    }

    .bg-grey {
        background: #292929;
    }

    .logo-footer {
        margin-bottom: 40px;
    }

    footer {
        color: grey;
    }

        footer p, a {
            font-size: 12px;
            font-family: 'Roboto', sans-serif;
        }

        footer h6 {
            font-family: 'Playfair Display', serif;
            margin-bottom: 40px;
            position: relative;
        }

            footer h6:after {
                position: absolute;
                content: "";
                background: grey;
                width: 12%;
                height: 1px;
                left: 0;
                bottom: -20px;
            }

    .btn-footer {
        color: grey;
        text-decoration: none;
        border: 1px solid;
        border-radius: 43px;
        font-size: 13px;
        padding: 7px 30px;
        line-height: 47px;
    }

        .btn-footer:hover {
            text-decoration: none;
        }

    .form-footer input[type="text"] {
        border: none;
        border-radius: 16px 0 0 16px;
        outline: none;
        padding-left: 10px;
    }

    ::placeholder {
        font-size: 10px;
        padding-left: 10px;
        font-style: italic;
    }

    .form-footer input[type="button"] {
        border: none;
        background: #232323;
        margin-left: -5px;
        color: #fff;
        outline: none;
        border-radius: 0 16px 16px 0;
        padding: 2px 12px;
    }

    .social .fa {
        color: grey;
        font-size: 22px;
        padding: 10px 15px;
        background: #3c3c3c;
    }

    footer ul li {
        list-style: none;
        display: block;
    }

    footer ul {
        padding-left: 0;
    }

        footer ul li a {
            text-decoration: none;
            color: grey;
            text-decoration: none;
        }

    a:hover {
        text-decoration: none;
        color: #f5f5f5 !important;
    }

    .logo-part {
        border-right: 1px solid grey;
        height: 100%;
    }
    .dorne-footer-area {
        background: linear-gradient(135deg, #8B0000, #4B0000, #000000);
        color: #ffffff;
        padding: 50px 0;
    }


    .footer-title {
        margin-bottom: 5px;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
    }

    .underline {
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        margin-bottom: 15px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

        ul li {
            margin-bottom: 10px;
        }

            ul li a {
                color: #ffffff;
                text-decoration: none;
                transition: color 0.3s;
            }

                ul li a:hover {
                    color: #cccccc;
                }

    .footer-social-btns a {
        color: #ffffff;
        margin-left: 15px;
        font-size: 18px;
        transition: color 0.3s;
    }

        .footer-social-btns a:hover {
            color: #cccccc;
        }

    .footer-text p {
        margin: 0;
        font-size: 14px;
    }
</style>