@using EntityLayer.Concrete

@{
    ViewData["Title"] = "Etkinlik Ekleme";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="page-inner">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Etkinlik Ekle</div>
                    </div>
                    <div class="card-body">
                        <form action="/Admin/Events/Create" method="POST" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label>Kategoriler</label>
                                        <select class="form-control" name="CategoryId">
                                            <option value="">Kategoriyi Seçin</option>
                                            @foreach (var category in ViewBag.Categories)
                                            {
                                                <option value="@category.CategoryId">@category.Name</option>
                                            }
                                        </select>
                                    </div>






                                    <div class="form-group">
                                        <label>Artistler</label>
                                        <select class="form-control" name="ArtistId">
                                            <option value="">Kategoriyi Seçin</option>
                                            @foreach (var artist in ViewBag.Artists)
                                            {
                                                <option value="@artist.ArtistId">@artist.Name</option>
                                            }
                                        </select>
                                    </div>



                                    <div class="form-group">
                                        <label for="Title">Başlık</label>
                                        <input type="text"
                                               class="form-control"
                                               id="Title"
                                               name="Title"
                                               placeholder="Etkinlik başlığını girin" />
                                    </div>


                                    <div class="form-group">
                                        <label for="Description">Açıklama</label>
                                        <textarea class="form-control"
                                                  id="Description"
                                                  name="Description"
                                                  rows="4"
                                                  placeholder="Etkinlik açıklamasını girin"></textarea>
                                    </div>


                                    <div class="form-group">
                                        <label for="EventDate">Etkinlik Tarihi</label>
                                        <input type="datetime-local"
                                               class="form-control"
                                               id="EventDate"
                                               name="EventDate" />
                                    </div>


                                    <div class="form-group">
                                        <label for="Location">Konum</label>
                                        <input type="text"
                                               class="form-control"
                                               id="Location"
                                               name="Location"
                                               placeholder="Etkinlik konumunu girin" />
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="ImageUrl">Resim URL'si</label>
                                        <input type="text"
                                               class="form-control"
                                               id="ImageUrl"
                                               name="ImageUrl"
                                               placeholder="Resim URL'sini girin" />
                                    </div>


                                    <div class="form-group">
                                        <label for="LocationUrl">Konum URL'si</label>
                                        <input type="text"
                                               class="form-control"
                                               id="LocationUrl"
                                               name="LocationUrl"
                                               placeholder="Konum URL'sini girin" />
                                    </div>


                                    <div class="form-group">
                                        <label for="Details">Detaylar</label>
                                        <textarea class="form-control"
                                                  id="Details"
                                                  name="Details"
                                                  rows="4"
                                                  placeholder="Etkinlik detaylarını girin"></textarea>
                                    </div>


                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Etkinlik Ekle</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
